*{
    margin: 0;
    padding: 0;
}

.orange{
    color: orange;
}



.btn-orange{
    background-color: #E76F51;
    color: #fff;
    
}

.btn-orange:hover{

    box-sizing: border-box;
    background: none;
    border: 1px solid #E76F51 ;
    color: #fff;
}


.rounded-circle{
    height: 100px;
    width: 100px;
}

i{
    color: orange;
}

.topNav a{
    color: #fff;
}


.control{
   height: fit-content;
}




header{
    background-color: #264653;
}






.filter {
  filter: grayscale(100%);
}